/* 자동 생성된 이미지 스프라이트 CSS */
.sprite {
  display: inline-block;
  background-repeat: no-repeat;
}

.sprite-20250806-1231-churchtech-png {
  background-image: url('../images/20250806_1231_churchtech.png');
  background-position: 0 -0px;
  width: 50px;
  height: 50px;
}

.sprite-jplee-profile-1page-png {
  background-image: url('../images/jplee_profile_1page.png');
  background-position: 0 -50px;
  width: 50px;
  height: 50px;
}

.sprite-jplee-profile-2-png {
  background-image: url('../images/jplee_profile_2.png');
  background-position: 0 -100px;
  width: 50px;
  height: 50px;
}

.sprite-leesedol-pro-png {
  background-image: url('../images/leesedol_pro.png');
  background-position: 0 -150px;
  width: 50px;
  height: 50px;
}

.sprite-milestonz-profile-png {
  background-image: url('../images/milestonz_profile.png');
  background-position: 0 -200px;
  width: 50px;
  height: 50px;
}

.sprite-ml-00001-png {
  background-image: url('../images/ml_00001.png');
  background-position: 0 -250px;
  width: 50px;
  height: 50px;
}

.sprite-ml-00002-png {
  background-image: url('../images/ml_00002.png');
  background-position: 0 -300px;
  width: 50px;
  height: 50px;
}

.sprite-ml-00003-png {
  background-image: url('../images/ml_00003.png');
  background-position: 0 -350px;
  width: 50px;
  height: 50px;
}

.sprite-ml-00005-png {
  background-image: url('../images/ml_00005.png');
  background-position: 0 -400px;
  width: 50px;
  height: 50px;
}

.sprite-ml-00006-png {
  background-image: url('../images/ml_00006.png');
  background-position: 0 -450px;
  width: 50px;
  height: 50px;
}

.sprite-samaltman-interview-png {
  background-image: url('../images/samaltman_interview.png');
  background-position: 0 -500px;
  width: 50px;
  height: 50px;
}

.sprite-shinjinseo-pro-png {
  background-image: url('../images/shinjinseo_pro.png');
  background-position: 0 -550px;
  width: 50px;
  height: 50px;
}

.sprite-slide-8-6-budget-planning-png {
  background-image: url('../images/slide-8-6-budget-planning.png');
  background-position: 0 -600px;
  width: 50px;
  height: 50px;
}

.sprite-word2vec-auto-png {
  background-image: url('../images/word2vec-auto.png');
  background-position: 0 -650px;
  width: 50px;
  height: 50px;
}

.sprite-word2vec-men-woman-png {
  background-image: url('../images/word2vec-men-woman.png');
  background-position: 0 -700px;
  width: 50px;
  height: 50px;
}

.sprite-word2vec-png {
  background-image: url('../images/word2vec.png');
  background-position: 0 -750px;
  width: 50px;
  height: 50px;
}

